:root {
    font-size: 20px;
    --clr-black: black;
    --clr-white: white;
    --dsp-flex: flex;
    --dsp-grid: grid;
    --txt-alin: center;
    --txt-decor: none;
    --lst-style: none;
    --bx-shadow: 2px 2px 4px black;
}
body {
    font-family: "Kumbh Sans", serif;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    object-fit: cover;
}
header {
    display: var(--dsp-flex);
    justify-content: space-between;
    align-items: var(--txt-alin);
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: var(--bx-shadow);
    margin-inline: 1rem;
    padding-inline: 1rem;
    position: fixed;
    right: 0;
    left: 0;
    top: 0.5rem;
    z-index: 10;
    a.agc {
        color: var(--clr-black);
        text-decoration: var(--txt-decor);
        font-size: 1.5rem;
    }
    nav ul {
        list-style: var(--lst-style);
        display: var(--dsp-flex);
        gap: 1rem;
        li a {
            text-decoration: var(--txt-decor);
            color: var(--clr-black);
        }
    }
}
main section {
    &:nth-of-type(1) {
        height: 100vh;
        position: relative;
        img{
            height: 100%;
            object-fit: cover;
        }
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--clr-white);
            background-color: rgba(0, 0, 0, 0.493);
            padding: 0.5rem;
            text-align: var(--txt-alin);
        }
    }
    &:nth-of-type(2) {
        display: var(--dsp-grid);
        grid-template-columns: repeat(4, 1fr);
        h2 {
            grid-column: 1 / -1;
            font-size: 1.5rem;
            margin-bottom: 0;
            margin-left: 2rem;
        }
        figure {
            box-shadow: var(--bx-shadow);
            text-align: var(--txt-alin);
            border-radius: 0.4rem;
            img {
                height: auto;
            }
            figcaption {
                padding: 0.4rem;
            }
        }
    }
    &:nth-of-type(3) {
        div.top {
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            img {
                width: 3.5rem;
            }
        }
    }
}
